<html>
	<head>
		<title>Silent Auction Winners</title>
		<meta http-equiv="refresh" content="30" />
        <link rel="stylesheet" href="./styles.css" />
	</head>
	<body>
		<h1>Silent Auction Winners</h1>
	</body>
</html>
