<html>
	<head>
		<title>Top Tables</title>
		<meta http-equiv="refresh" content="5" />
	</head>
	<body>
		<h1>Top Tables</h1>
		{{#each tables}}
		    <div>
		    	{{name}}
		    	{{amount}}
		    </div>
		{{/each}}
	</body>
</html>
